
<ng-container>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Select range for display</mat-label>
    <mat-date-range-input
      [formGroup]="datePicker"
      [rangePicker]="campaignOnePicker">
      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end" (dateChange)="init()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>
</ng-container>
<button class="btn btn-primary" (click)="checkForIncidents()">Search for Incidents</button>
<ng-container>
    <app-incident-week class="inactive-week" [data]="resultArray"></app-incident-week>
</ng-container>
