<div *ngIf="showSystemBtn === true; then nettoProcessing else backBtn"></div>

<ng-template #nettoProcessing>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-lg btn-success btn-block" (click)="onClick()">
      {{ system }}
    </button>
  </div>
</ng-template>

<ng-template #backBtn>
  <div>Тут будет красиво. Потом.</div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onClick()">Back</button>
  </div>
</ng-template>



