<ng-container>
  <table mat-table [dataSource]="incidents" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let incident"> {{incident.id | incident:"id"}} </td>
    </ng-container>

    <!-- Incident Started Column -->
    <ng-container matColumnDef="Incident Started">
      <th mat-header-cell *matHeaderCellDef>Incident Started</th>
      <td mat-cell *matCellDef="let incident"> {{incident.start_date | incident:"incTime": "yes"}} </td>
    </ng-container>

    <!-- Incident Ended Column -->
    <ng-container matColumnDef="Incident Ended">
      <th mat-header-cell *matHeaderCellDef>Incident Ended</th>
      <td mat-cell *matCellDef="let incident"> {{incident.end_date | incident:"incTime":"no"}} </td>
    </ng-container>

    <!-- Incident's Length Column -->
    <ng-container matColumnDef="Incident's Length">
      <th mat-header-cell *matHeaderCellDef>Incident's Length (in minutes)</th>
      <td mat-cell *matCellDef="let incident"> {{incident.incident_length | incident: "incLength"}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let incident"> {{incident.short_description | incident: "shortDesc"}} </td>
    </ng-container>

    <!-- Comments Column -->
    <ng-container matColumnDef="Comments">
      <th mat-header-cell *matHeaderCellDef> Comments</th>
      <td mat-cell *matCellDef="let incident"> {{incident.comments}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</ng-container>
