<ng-container>
  <mat-button-toggle-group class="header">
    <mat-button-toggle
      routerLinkActive="active current"
      routerLink="/">
      Home
    </mat-button-toggle>
    <mat-button-toggle
      routerLinkActive="active current"
      routerLink="dashboard">
      Dashboard
    </mat-button-toggle>
    <mat-button-toggle
      routerLinkActive="active current"
      routerLink="incident-tracker">
      Incident Tracker
    </mat-button-toggle>
  </mat-button-toggle-group>
</ng-container>
