<div *ngIf="showSystemBtn === true; then kafkaSystem else backBtn"></div>

<ng-template #kafkaSystem>
  <div class="d-flex justify-content-center">
    <button
      type="button" class="btn btn-lg btn-block"
      [class.btn-success]="systemStatusCheck()"
      [class.btn-danger]="!systemStatusCheck()"
      (click)="onClick()">
      {{ system }}
    </button>
  </div>
</ng-template>

<ng-template #backBtn>
  <app-kafka-system
    *ngFor="let kafkaPart of systems"
    [system-name]="kafkaPart.system"
    [state] = "kafkaPart.state"
    [system-data]="kafkaPart.data">
  </app-kafka-system>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onClick()">Back</button>
  </div>
</ng-template>


